.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to left , rgb(11, 119, 11), rgb(19, 53, 37)); /* verde a blanco :v */
    letter-spacing: 2px;

}

.card {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 380px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.logoGreen1 {
    color: #1d1d1d;
}

.logoGreen2 {
    color: rgb(2, 128, 12);
}

.logoBlack{
    color: rgb(0, 0, 0);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input {
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    padding: 0.6rem;
    font-size: 1rem;
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #555;
}

.button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background: #1d4ed8;
}

.footer {
    margin-top: 1.5rem;
    font-size: 0.8rem;
    color: #666;
}  